@import 
	'vendor/normalize-scss/normalize';
	
@import 
	'utils/variables',
	'utils/mixins',
	'utils/shame';

@import 
	'base/typography';

@import 
	'components/navigation',
	'components/footer';

@import 
	'pages/index';

@import 
	'utils/shame';
